<div style="position: relative;">

	<!--<div [ngClass]="loading ? 'overlay-product' : ''">
		<div *ngIf="loading" class="progress-spinner-product">
			<div></div>
		</div>
	</div>-->
	
	<ng-container *ngIf="action === 'Update'; else elseDelete">
		<h1 mat-dialog-title class="dialog-box-header">Wijzigen Eenmalige Kosten</h1>

		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon>location_on</mat-icon>Locatie id : <span innerText={{local_data.locationdata.customerid}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="60px">
				<mat-label>
					<mat-icon> location_on</mat-icon>Adres : <span innerText={{local_data.locationdata.fulladdress}}></span>
				</mat-label>

			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> loop</mat-icon> Keten : <span innerText={{local_data.locationdata.locationchain}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> location_on</mat-icon> Type : <span innerText={{local_data.locationdata.locationtypeid}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> contacts</mat-icon>Accountmanager : <span innerText={{local_data.locationdata.accountmanagerid}}></span>
				</mat-label>
			</div>
		</div>
		<form [formGroup]="onetimecostupdateform" #f="ngForm" (ngSubmit)="onUpdate(f)" novalidate
			*ngIf="action === 'Update'; else elseAdd">
			<div mat-dialog-content>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Hoofdproduct</mat-label>
						<mat-select disableOptionCentering ngModel="{{local_data.productmain}}" (selectionChange)="selectmainproduct()"
							formControlName="productmain" panelClass="my-select-panel-class" placeholder="Hoofdproduct">
							<mat-option *ngFor="let productmainSingle of productmainList"
								[value]="productmainSingle.id">
								{{productmainSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasErrorUpdate('productmain', 'required')">Hoofdproduct is verplicht
						</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Productnaam</mat-label>
						<mat-select disableOptionCentering ngModel="{{local_data.productname}}"
							formControlName="productname" panelClass="my-select-panel-class" placeholder="Productnaam">
							<mat-option *ngFor="let productnameSingle of selectedproductnameList"
								[value]="productnameSingle.id">
								{{productnameSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasErrorUpdate('productname', 'required')">Productnaam is verplicht
						</mat-error>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%; margin-bottom: 3%;">
						<mat-label>Order type</mat-label>
						<mat-select disableOptionCentering ngModel="{{local_data.ordertype}}"
							formControlName="ordertype" panelClass="my-select-panel-class" placeholder="Order type">
							<mat-option *ngFor="let ordertypeSingle of ordertypeList" [value]="ordertypeSingle.id">
								{{ordertypeSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasErrorUpdate('ordertype', 'required')">Order type is verplicht</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Opleverdatum</mat-label>
						<input matInput [matDatepicker]="pickerupdate" formControlName="deliverydate" ngModel="{{local_data.deliverydate}}" [min]="minDate" (dateChange)="dateValidationUpdate()"
						 >
						<mat-datepicker-toggle matSuffix [for]="pickerupdate"></mat-datepicker-toggle>
						<mat-datepicker #pickerupdate></mat-datepicker>
						
					</mat-form-field>
				</div>

				<div class="full-column">
					<mat-form-field appearance="outline" style="margin-bottom: 3%;">
						<mat-label>Omschrijving</mat-label>
						<input matInput ngModel="{{local_data.description}}" formControlName="description"
							placeholder="Omschrijving" autocomplete="off" maxlength="150">
						<!--<mat-error *ngIf="hasErrorUpdate('description', 'required')">Omschrijving is verplicht</mat-error>-->
						<mat-error *ngIf="hasErrorUpdate('description', 'pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>

				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Aantal</mat-label>
						<input matInput ngModel="{{local_data.quantity}}" formControlName="quantity"
							placeholder="Aantal" autocomplete="off">
						<mat-error *ngIf="hasErrorUpdate('quantity', 'required')">Aantal is verplicht</mat-error>
						<mat-error *ngIf="hasErrorUpdate('quantity','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Prijs</mat-label>
						<input matInput ngModel="{{local_data.price}}" formControlName="price" placeholder="Prijs"
							autocomplete="off">
						<mat-error *ngIf="hasErrorUpdate('price', 'required')">Prijs is verplicht</mat-error>
						<mat-error *ngIf="hasErrorUpdate('price','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Bedrag</mat-label>
						<input matInput ngModel="{{local_data.amount}}" formControlName="amount" autocomplete="off"
							readonly>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Billing maand</mat-label>
						<input matInput formControlName="billingmonth" readonly ngModel="{{local_data.billingmonth}}">
						<input hidden [matDatepicker]="fromDatePickerUpdate" readonly [min]="minDate">
						<mat-datepicker-toggle matSuffix [for]="fromDatePickerUpdate"></mat-datepicker-toggle>
						<mat-datepicker startView="multi-year" [min]="minBillingDate" (monthSelected)="closeDatePickerUpdate(fromDatePickerUpdate, $event)" #fromDatePickerUpdate></mat-datepicker>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>PO-nummer</mat-label>
						<input matInput ngModel="{{local_data.ponumber}}" formControlName="ponumber"
							placeholder="PO-nummer" autocomplete="off">
							<mat-error *ngIf="hasErrorUpdate('ponumber','pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>
				<div class="full-column" fxLayoutGap="20px">
					<mat-card-actions align="center">
						<a [disabled]="buttondisabled" (click)="closeDialog()" mat-flat-button
							class="redir-main-loc can-crt-mid mat-raised-button">Annuleren</a>
						<button [disabled]="buttondisabled" mat-raised-button
							class="redir-main-loc can-crt-mid">Opslaan</button>
					</mat-card-actions>
				</div>
			</div>
		</form>
	</ng-container>
	<ng-template #elseDelete>
		<ng-container *ngIf="action === 'Delete'; else elseAdd">
			<h1 mat-dialog-title class="dialog-box-header">Verwijderen Eenmalige Kosten</h1>
			Wil je Eenmalige kosten <b>{{local_data.hstorderid}}</b> verwijderen?
			<div mat-dialog-actions align="center">
				<a [disabled]="buttondisabled" mat-button (click)="closeDialog()" mat-flat-button
					class="redir-main-loc can-crt-mid mat-raised-button">Annuleren</a>
				<button [disabled]="buttondisabled" mat-raised-button (click)="onDelete()"
					class="redir-main-loc can-crt-mid">Verwijderen</button>
			</div>
		</ng-container>
	</ng-template>
	<ng-template #elseAdd>
		<h1 mat-dialog-title class="dialog-box-header" innerText='Toevoegen - Eenmalige Kosten - {{local_data.location_name}}'></h1>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon>location_on</mat-icon>Locatie id : <span innerText={{local_data.locationdata.customerid}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="60px">
				<mat-label>
					<mat-icon> location_on</mat-icon>Adres : <span innerText={{local_data.locationdata.fulladdress}}></span>
				</mat-label>

			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> loop</mat-icon> Keten : <span innerText={{local_data.locationdata.locationchain}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> location_on</mat-icon> Type : <span innerText={{local_data.locationdata.locationtypeid}}></span>
				</mat-label>
			</div>
		</div>
		<div class="form-row">
			<div class="full-column" fxLayoutGap="40px">
				<mat-label>
					<mat-icon> contacts</mat-icon>Accountmanager : <span innerText={{local_data.locationdata.accountmanagerid}}></span>
				</mat-label>
			</div>
		</div>
		<form [formGroup]="onetimecostcreateform" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
			<div mat-dialog-content>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Hoofdproduct</mat-label>
						<mat-select disableOptionCentering formControlName="productmain" (selectionChange)="selectmainproduct()"
							panelClass="my-select-panel-class" placeholder="Hoofdproduct">
							<mat-option *ngFor="let productmainSingle of productmainList"
								[value]="productmainSingle.id">
								{{productmainSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('productmain', 'required')">Hoofdproduct is verplicht</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Memoline</mat-label>
						<mat-select disableOptionCentering formControlName="productname"
							panelClass="my-select-panel-class" placeholder="Productnaam">
							<mat-option *ngFor="let productnameSingle of selectedproductnameList"
								[value]="productnameSingle.id">
								{{productnameSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('productname', 'required')">Memoline is verplicht</mat-error>
					</mat-form-field>
				</div>
				<div class="half-row">

					<mat-form-field appearance="outline" style="margin-right:2%;margin-bottom: 3%;">
						<mat-label>Order type</mat-label>
						<mat-select disableOptionCentering formControlName="ordertype"
							panelClass="my-select-panel-class" placeholder="Order type">
							<mat-option *ngFor="let ordertypeSingle of ordertypeList" [value]="ordertypeSingle.id">
								{{ordertypeSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('ordertype', 'required')">Order type is verplicht</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Opleverdatum</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="deliverydate" [min]="minDate" (dateChange)="dateValidation()">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>

				<div class="full-column">
					<mat-form-field appearance="outline" style="margin-bottom: 3%;">
						<mat-label>Omschrijving</mat-label>
						<input matInput formControlName="description" placeholder="Omschrijving" autocomplete="off"
							maxlength="150">
						<!--<mat-error *ngIf="hasError('description', 'required')">Omschrijving is verplicht</mat-error>-->
						<mat-error *ngIf="hasError('description', 'pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Aantal</mat-label>
						<input matInput formControlName="quantity" placeholder="Aantal" autocomplete="off">
						<mat-error *ngIf="hasError('quantity', 'required')">Aantal is verplicht</mat-error>
						<mat-error *ngIf="hasError('quantity','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Prijs</mat-label>
						<input matInput formControlName="price" placeholder="Prijs" autocomplete="off">
						<mat-error *ngIf="hasError('price', 'required')">Prijs is verplicht</mat-error>
						<mat-error *ngIf="hasError('price','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Bedrag</mat-label>
						<input matInput formControlName="amount" placeholder="0,00" autocomplete="off" readonly>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Billing maand</mat-label>
						<input matInput formControlName="billingmonth" readonly>
						<input hidden [matDatepicker]="fromDatePicker" readonly [min]="minDate">
						<mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
						<mat-datepicker startView="multi-year" (monthSelected)="closeDatePicker(fromDatePicker, $event)" #fromDatePicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>PO-nummer</mat-label>
						<input matInput formControlName="ponumber" placeholder="PO-nummer" autocomplete="off">
						<mat-error *ngIf="hasError('ponumber','pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>
				<div class="full-column" fxLayoutGap="20px">
					<mat-card-actions align="center">
						<a [disabled]="buttondisabled" (click)="closeDialog()" mat-flat-button
							class="redir-main-loc can-crt-mid mat-raised-button">Annuleren</a>
						<button [disabled]="buttondisabled" mat-raised-button
							class="redir-main-loc can-crt-mid">Opslaan</button>
					</mat-card-actions>
				</div>
			</div>
		</form>
	</ng-template>

	

	<!--<ng-template #elseRelocate>
		<ng-container *ngIf="action === 'Relocate'; else elseAdd">
			<h1 mat-dialog-title class="dialog-box-header">
				{{local_data.productattributevaluesi[2].productattributevalue}}::
				<strong>Verhuizen</strong></h1>
			<div mat-dialog-content>

			</div>
		</ng-container>
	</ng-template>-->
	
	<!--<ng-container  *ngIf="action === 'Add'">
		<h1 mat-dialog-title class="dialog-box-header">Toevoegen Eenmalige Kosten</h1>
		<form [formGroup]="onetimecostcreateform" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
			<div mat-dialog-content>
				<div class="half-row" style="margin-top: 12px;">
					<mat-form-field appearance="outline" style="margin-right:2%;margin-bottom: 3%;">
						<mat-label>Bronsysteem</mat-label>
						<input matInput formControlName="sourcesystemorder" placeholder="Bronsysteem" autocomplete="off"
							maxlength="30">
					</mat-form-field>
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>OrderID external</mat-label>
						<input matInput formControlName="orderidexternal" placeholder="OrderID external"
							autocomplete="off">
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>ServiceID</mat-label>
						<input matInput formControlName="serviceid" placeholder="ServiceID" autocomplete="off">
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Hoofdproduct</mat-label>
						<mat-select disableOptionCentering formControlName="productmain" (selectionChange)="selectmainproduct()"
							panelClass="my-select-panel-class" placeholder="Hoofdproduct">
							<mat-option *ngFor="let productmainSingle of productmainList"
								[value]="productmainSingle.id">
								{{productmainSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('productmain', 'required')">Hoofdproduct is verplicht</mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>Memoline</mat-label>
						<mat-select disableOptionCentering formControlName="productname"
							panelClass="my-select-panel-class" placeholder="Productnaam">
							<mat-option *ngFor="let productnameSingle of selectedproductnameList"
								[value]="productnameSingle.id">
								{{productnameSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('productname', 'required')">Memoline is verplicht</mat-error>
					</mat-form-field>
				</div>
				<div class="half-row">

					<mat-form-field appearance="outline" style="margin-right:2%;margin-bottom: 3%;">
						<mat-label>Order type</mat-label>
						<mat-select disableOptionCentering formControlName="ordertype"
							panelClass="my-select-panel-class" placeholder="Order type">
							<mat-option *ngFor="let ordertypeSingle of ordertypeList" [value]="ordertypeSingle.id">
								{{ordertypeSingle.name}}
							</mat-option>
						</mat-select>
						<mat-error *ngIf="hasError('ordertype', 'required')">Order type is verplicht</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Opleverdatum</mat-label>
						<input matInput [matDatepicker]="picker" formControlName="deliverydate" [min]="minDate" (dateChange)="dateValidation()">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>

				<div class="full-column">
					<mat-form-field appearance="outline" style="margin-bottom: 3%;">
						<mat-label>Omschrijving</mat-label>
						<input matInput formControlName="description" placeholder="Omschrijving" autocomplete="off"
							maxlength="150">
						<mat-error *ngIf="hasError('description', 'required')">Omschrijving is verplicht</mat-error>
						<mat-error *ngIf="hasError('description', 'pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Aantal</mat-label>
						<input matInput formControlName="quantity" placeholder="Aantal" autocomplete="off">
						<mat-error *ngIf="hasError('quantity', 'required')">Aantal is verplicht</mat-error>
						<mat-error *ngIf="hasError('quantity','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Prijs</mat-label>
						<input matInput formControlName="price" placeholder="Prijs" autocomplete="off">
						<mat-error *ngIf="hasError('price', 'required')">Prijs is verplicht</mat-error>
						<mat-error *ngIf="hasError('price','pattern')">Ongeldige waarde</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Bedrag</mat-label>
						<input matInput formControlName="amount" placeholder="0,00" autocomplete="off" readonly>
					</mat-form-field>
				</div>
				<div class="half-row">
					<mat-form-field appearance="outline" style="margin-right:2%">
						<mat-label>Billing maand</mat-label>
						<input matInput formControlName="billingmonth" readonly>
						<input hidden [matDatepicker]="fromDatePicker" readonly [min]="minDate">
						<mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
						<mat-datepicker startView="multi-year" (monthSelected)="closeDatePicker(fromDatePicker, $event)" #fromDatePicker></mat-datepicker>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>PO-nummer</mat-label>
						<input matInput formControlName="ponumber" placeholder="PO-nummer" autocomplete="off">
						<mat-error *ngIf="hasError('ponumber','pattern')">alleen letter, cijfer, spatie, en . - is toegestaan</mat-error>
					</mat-form-field>
				</div>
				<div class="full-column" fxLayoutGap="20px">
					<mat-card-actions align="center">
						<a [disabled]="buttondisabled" (click)="closeDialog()" mat-flat-button
							class="redir-main-loc can-crt-mid mat-raised-button">Annuleren</a>
						<button [disabled]="buttondisabled" mat-raised-button
							class="redir-main-loc can-crt-mid">Opslaan</button>
					</mat-card-actions>
				</div>
			</div>
		</form>
	</ng-container>-->
</div>
