<mat-expansion-panel [expanded]="true" style="position: relative;margin-bottom: 25px;">
  <div [ngClass]="loading ? 'overlay-product' : ''">
    <div *ngIf="loading else loaded" class="progress-spinner-product">
      <div></div>
    </div>
  </div>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>
        <mat-icon>apps</mat-icon>Facturatiegegevens
      </mat-card-title>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template #loaded>
    <div *ngIf="comarchcustomerdetails.billingModel=='BillingAtMain' else second">
      Deze locatie wordt gefactureerd via de hoofdlocatie, maar in de hoofdlocatie zijn geen Comarch ID's geregistreerd.
      De facturatiegegevens kunnen niet worden opgehaald.
    </div>
    <ng-template #second>
      <div *ngIf="comarchcustomerdetails.customerID=='' else third">
        Er zijn geen Comarch ID's geregistreerd voor deze locatie. De facturatiegegevens kunnen niet worden opgehaald.
      </div>
    </ng-template>
    <ng-template #third>
      <table *ngIf="comarchcustomerdetails.customerID != ''" style="font-size: 12px;">
        <tr>
          <th style="width: 13.3%;font-size: 14px;">Klant</th>
          <th style="width: 20%;"></th>
          <th style="width: 13.3%;font-size: 14px;">Factuur account</th>
          <th style="width: 20%;"></th>
          <th style="width: 13.3%;font-size: 14px;">Contract</th>
          <th></th>
        </tr>
        <tr>
          <td>CustomerID</td>
          <td>{{comarchcustomerdetails.customerID}}</td>
          <td>InvoiceAccountID</td>
          <td>{{comarchinvoicedetails.invoiceAccountID}}</td>
          <td>ContractId</td>
          <td>{{comarchcontractdetails.contractId}}</td>
        </tr>
		<tr>
          <td>externalId</td>
          <td>{{comarchcustomerdetails.externalId}}</td>
          <td>externalId</td>
          <td>{{comarchinvoicedetails.externalId}}</td>
          <td>externalId</td>
          <td>{{comarchcontractdetails.externalId}}</td>
        </tr>
        <tr>
          <td>KRN</td>
          <td>{{comarchcustomerdetails.krn}}</td>
          <td>Name</td>
          <td>{{comarchinvoicedetails.name}}</td>
          <td>CustomerId</td>
          <td>{{comarchcontractdetails.customerId}}</td>
        </tr>
        <tr>
          <td>VatNumber</td>
          <td>{{comarchcustomerdetails.vatNumber}}</td>
          <td>ForAttentionOf</td>
          <td>{{comarchinvoicedetails.forAttentionOf}}</td>
          <td>Name</td>
          <td>{{comarchcontractdetails.name}}</td>
        </tr>
        <tr>
          <td>CocNumber</td>
          <td>{{comarchcustomerdetails.cocNumber}}</td>
          <td>Street</td>
          <td>{{comarchinvoicedetails.street}}</td>
          <td>Alias</td>
          <td>{{comarchcontractdetails.alias}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{comarchcustomerdetails.name}}</td>
          <td>HouseNumber</td>
          <td>{{comarchinvoicedetails.houseNumber}}</td>
          <td>PortfolioName</td>
          <td>{{comarchcontractdetails.portfolioName}}</td>
        </tr>
        <tr>
          <td>Street</td>
          <td>{{comarchcustomerdetails.street}}</td>
          <td>HouseNumberExtension</td>
          <td>{{comarchinvoicedetails.houseNumberExtension}}</td>
          <td>TariffPlan</td>
          <td>{{comarchcontractdetails.tariffPlan}}</td>
        </tr>
        <tr>
          <td>HouseNumber</td>
          <td>{{comarchcustomerdetails.houseNumber}}</td>
          <td>PostalCode</td>
          <td>{{comarchinvoicedetails.postalCode}}</td>
          <td>Discount</td>
          <td>{{comarchcontractdetails.discount}}</td>
        </tr>
        <tr>
          <td>HouseNumberExtension</td>
          <td>{{comarchcustomerdetails.houseNumberExtension}}</td>
          <td>PoBox</td>
          <td>{{comarchinvoicedetails.poBox}}</td>
          <td>VCode</td>
          <td>{{comarchcontractdetails.vCode}}</td>
        </tr>
        <tr>
          <td>PostalCode</td>
          <td>{{comarchcustomerdetails.postalCode}}</td>
          <td>City</td>
          <td>{{comarchinvoicedetails.city}}</td>
          <td>StartDate</td>
          <td>{{comarchcontractdetails.startDate}}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{comarchcustomerdetails.city}}</td>
          <td>Country</td>
          <td>{{comarchinvoicedetails.country}}</td>
          <td>EndDate</td>
          <td>{{comarchcontractdetails.endDate}}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{comarchcustomerdetails.country}}</td>
          <td>PaymentTerm</td>
          <td>{{comarchinvoicedetails.paymentTerm}}</td>
          <td>TerminationDate</td>
          <td>{{comarchcontractdetails.terminationDate}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>PaymentType</td>
          <td>{{comarchinvoicedetails.paymentType}}</td>
          <td>IndexactionGroup</td>
          <td>{{comarchcontractdetails.indexactionGroup}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>IBAN</td>
          <td>{{comarchinvoicedetails.IBAN}}</td>
          <td>FirstIndexationDate</td>
          <td>{{comarchcontractdetails.firstIndexationDate}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>CustomerReference</td>
          <td>{{comarchinvoicedetails.customerReference}}</td>
          <td>RenewalStrategy</td>
          <td>{{comarchcontractdetails.renewalStrategy}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>KpnReference</td>
          <td>{{comarchinvoicedetails.kpnReference}}</td>
          <td>PenaltyProcedure</td>
          <td>{{comarchcontractdetails.penaltyProcedure}}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>InvoiceLanguage</td>
          <td>{{comarchinvoicedetails.invoiceLanguage}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>InvoiceDistributionType</td>
          <td>{{comarchinvoicedetails.invoiceDistributionType}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>PrimaryEmailAddress</td>
          <td>{{comarchinvoicedetails.primaryEmailAddress}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>AdditionalEmailAddress</td>
          <td>{{comarchinvoicedetails.additionalEmailAddress}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>AccountType</td>
          <td>{{comarchinvoicedetails.accountType}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>SettlementCode</td>
          <td>{{comarchinvoicedetails.settlementCode}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>TaxGroup</td>
          <td>{{comarchinvoicedetails.taxGroup}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>MarketGroupCode</td>
          <td>{{comarchinvoicedetails.marketGroupCode}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>BillCycle</td>
          <td>{{comarchinvoicedetails.billCycle}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>OnHold</td>
          <td>{{comarchinvoicedetails.onHold}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>CkrNumber</td>
          <td>{{comarchinvoicedetails.ckrNumber}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Oin</td>
          <td>{{comarchinvoicedetails.oin}}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </ng-template>
  </ng-template>
</mat-expansion-panel>
<mat-divider></mat-divider>