<div style="position: relative;">
	<div [ngClass]="loading ? 'overlay-product' : ''">
		<div *ngIf="loading" class="progress-spinner-product">
			<div></div>
		</div>
	</div>
	

	<ng-container *ngIf="action === 'Add'; ">
	<!--<ng-template #elseAdd>-->
		<h1 mat-dialog-title class="dialog-box-header">Nieuwe Order - Kraskaart </h1>
		<form [formGroup]="scratchcardcreateform" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
			<div mat-dialog-content style="margin-top: 14px;padding-top:10px;">
				<h5 style="color: #47a217;font-weight: bold; margin-bottom:20px;">Kraskaart</h5>
				<mat-form-field style="display: none;">
					<input matInput formControlName="OnlineSCardOrderCatRefID" placeholder="OnlineSCardOrderCatRefID" autocomplete="off">
				</mat-form-field>

				<mat-form-field style="display: none;">
					<input matInput formControlName="OnlineSCardOrderTypeKraskaartID" placeholder="OnlineSCardOrderTypeKraskaartID" autocomplete="off">
				</mat-form-field>

				<mat-form-field style="display: none;">
					<input matInput formControlName="OnlineSCardOrderRTLMemoline" placeholder="OnlineSCardOrderRTLMemoline" autocomplete="off">
				</mat-form-field>


				<div class="form-row">
				<div class="col-md-4">
					<mat-form-field class="focusformfield" appearance="outline" style="width: 100%;">
						<mat-label>Type Kraskaart</mat-label>
						<mat-select disableOptionCentering formControlName="OnlineSCardOrderCardType"
							panelClass="my-select-panel-class" placeholder="Type Kraskaart"
							(selectionChange)="selectTypePlan($event.value)">
							<mat-option *ngFor="let productnameSingle of productnameList"
								[value]="productnameSingle.productname">
								{{productnameSingle.productnamevalue}}
							</mat-option>
						</mat-select>
						<mat-error  style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderCardType', 'required')">Type Kraskaart is verplicht</mat-error>
					</mat-form-field>
				</div>
			</div>

				<div class="form-row" style="margin-bottom: 4%;">

					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" style="margin-bottom: 0.6%;width:100%;">
							<mat-label>Aantal </mat-label>
							<input matInput formControlName="OnlineSCardOrderQuantity" placeholder="Aantal" autocomplete="off"
								>
								<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderQuantity', 'required')">Aantal is verplicht</mat-error>
								<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderQuantity','max')">Ongeldige waarde</mat-error>
						</mat-form-field>
					</div>

					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" style="margin-bottom: 0.6%;width:100%;">
							<mat-label>Prijs </mat-label>
							<input matInput formControlName="OnlineSCardOrderPrice" placeholder="Prijs" autocomplete="off" [readonly]="!isBillingUser"
								>
								<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderPrice','required')">Prijs is verplicht</mat-error>
								<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderPrice','pattern')">Ongeldige waarde</mat-error>
						</mat-form-field>
					</div>

					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" style="margin-bottom: 0.6%;width:100%;">
							<mat-label>Bedrag </mat-label>
							<input matInput formControlName="OnlineSCardOrderTotalPrice" readonly placeholder="Bedrag" autocomplete="off">
						</mat-form-field>
					</div>
				</div>

				
				
					<!--<div class="quat-row">-->
						
				<h5 style="color: #47a217;font-weight: bold; margin-bottom:20px;">Activatie en restrictie</h5>
				<div class="form-row">
					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" style="width: 100%;">
							<mat-label>Activatie bij uitlevering</mat-label>
							<mat-select disableOptionCentering formControlName="OnlineSCardOrderActivate"
								panelClass="my-select-panel-class" placeholder="Activatie bij uitlevering" [disabled]="true"
								>
								<mat-option *ngFor="let ordership of orderActvateOnDelivery"
									[value]="ordership.id">
									{{ordership.name}}
								</mat-option>
							</mat-select>
							<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderActivate', 'required')">Activatie bij uitlevering verplicht</mat-error>
						</mat-form-field>
					</div>


					
					
				</div>

				<div class="form-row" style="margin-bottom: 4%;">
					
					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" style="width: 100%;">
							<mat-label>Restrictie op locatie</mat-label>
							<mat-select disableOptionCentering formControlName="OnlineSCardOrderRestrictionOnLocation"
								panelClass="my-select-panel-class" placeholder="Restrictie op locatie"
								(selectionChange)="selectRestrictionOnLocation($event.value)">
								<mat-option *ngFor="let ordership of orderrestrictOnLocation"
									[value]="ordership.id">
									{{ordership.name}}
								</mat-option>
							</mat-select>
							<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderRestrictionOnLocation', 'required')">Restrictie op locatie is verplicht</mat-error>
						</mat-form-field>
					</div>

				
			
					<div class="col-md-4">
						<mat-form-field class="focusformfield" appearance="outline" *ngIf="isRestrictionOnChain" style="width: 100%;">
							<mat-select disableOptionCentering formControlName="OnlineSCardOrderValidForLocation" 
											placeholder="Geldig op locatie">
									<mat-option>                            
										<ngx-mat-select-search disableOptionCentering [formControl]="chainFilteringCtrl" 
											placeholderLabel="Zoek chain..." 
											i18n-placeholderLabel>
										</ngx-mat-select-search>
									</mat-option>
									<mat-option *ngIf="noRecordFound == 0">{{ 'Geen chains gevonden' }}</mat-option>
												
									<mat-option  *ngFor="let chain of filteredServerSideChains | async"
											[value]="chain.chainid">  {{chain.chainname}}
									</mat-option>
							</mat-select>
							<mat-error style="margin-top: 9px;" *ngIf="hasError('OnlineSCardOrderValidForLocation', 'required')">Geldig op locatie is verplicht</mat-error>
						
						</mat-form-field>
					</div>
				</div>

				<div class="full-column" fxLayoutGap="20px">
					<mat-card-actions align="center">
						<a [disabled]="buttondisabled" (click)="closeDialog()" mat-flat-button
							class="redir-main-loc can-crt-mid mat-raised-button">Annuleren</a>
						<button [disabled]="buttondisabled" mat-raised-button
							class="redir-main-loc can-crt-mid">Opslaan</button>
					</mat-card-actions>
				</div>
			</div>
		</form>
	<!--</ng-template>-->

	</ng-container>


	
	

</div>


