<mat-expansion-panel [expanded]="true" style="position: relative;margin-bottom: 25px;">
  <div [ngClass]="loading ? 'overlay-product' : ''">
    <div *ngIf="loading" class="progress-spinner-product">
      <div></div>
    </div>
  </div>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>
        <mat-icon>apps</mat-icon>Terugkerende Factuurregels
      </mat-card-title>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="half-row">
    <mat-form-field>
      <input matInput (keyup)="applyFilterBillingSetting($event)" placeholder="Filter">
    </mat-form-field>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
   
    <div class="col-sm-1" >
      <button mat-button (click)="openDialogAddBillingSetting('Add')" class="btn redir-main-loc submit-btn" title="Toevoegen"
      *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','BillingSettingAdd','disabled')">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <div class="col-sm-1" style="margin-right: -6%;"></div>
  </div>

  <table mat-table #billingsettingSort="matSort" [dataSource]="dataSourceBillingSetting" multiTemplateDataRows
    class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="hstorderid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:13%">HST ID</th>
      <td mat-cell *matCellDef="let element" > {{ element.hstorderid}}</td>
    </ng-container>

    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:6%" >Startdatum</th>
      <td mat-cell *matCellDef="let element" > {{ element.startdate_formated}}</td>
    </ng-container>

    <ng-container matColumnDef="enddate">
      <th mat-header-cell *matHeaderCellDef style="width:7%" >Einddatum</th>
      <td mat-cell *matCellDef="let element" > {{ element.enddate_formated}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef style="width:4%" >Bedrag</th>
      <td mat-cell *matCellDef="let element" > {{ element.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="term">
      <th mat-header-cell *matHeaderCellDef style="width:7%" >Termijn</th>
      <td mat-cell *matCellDef="let element" > {{element.term_name}}</td>
    </ng-container>

    <ng-container matColumnDef="productname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%" >Memoline</th>
      <td mat-cell *matCellDef="let element" > {{ element.productname_name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:30%" >Omschrijving</th>
      <td mat-cell *matCellDef="let element" > {{ element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="width:7%" >Activatie</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status == 1 ">

          <div class="switch">
            <label class="switch">
              <input type="checkbox" id="{{'statusID'+element.id}}" [checked]="true" value="element.status"
                (change)="change_status('Inactive',element)" [disabled]="element.statusCheck">
              <span class="slider round"></span>
            </label>
          </div>
        </span>
        <span *ngIf="element.status == 0 ">
          <div class="switch">
            <label class="switch">
              <input disabled type="checkbox" id="{{'statusID'+element.id}}" [checked]="false" value="element.status"
                [disabled]="element.statusCheck" (change)="change_status('Active',element)">
              <span class="slider round"></span>
            </label>
          </div>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <button class="icon_btn" title="Wijzigen" mat-button (click)="openDialogEditBillingSetting('Update',element)"
        *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','BillingSettingEdit','disabled')">
          <mat-icon>edit</mat-icon>
        </button>

        <button class="icon_btn" title="Verwijderen" mat-button (click)="openDialogBillingSetting('Delete',element)"
        *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','BillingSettingDelete','disabled')">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <ng-container matColumnDef="overlayrow">
			<th mat-header-cell *matHeaderCellDef style="min-width: 0.1%;width: 0.1%;padding: 0px;"></th>
			<td *matCellDef="let element" id="{{'rowoverlay'+element.id}}" class="overlaytr" style="display: none;">
				<div class="progress-spinner-product">
					<div></div>
				</div>
			</td>
		</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedbillingsettingColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedbillingsettingColumns;"></tr>
    
  </table>
  <mat-paginator #paginatorBillingSetting [pageSizeOptions]="[10, 25, 30]" showFirstLastButtons></mat-paginator>

</mat-expansion-panel>

<mat-expansion-panel [expanded]="true" style="position: relative;margin-bottom: 25px;">
  <div [ngClass]="loading ? 'overlay-product' : ''">
    <div *ngIf="loading" class="progress-spinner-product">
      <div></div>
    </div>
  </div>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>
        <mat-icon>apps</mat-icon>Openstaande kosten
      </mat-card-title>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="half-row">
    <mat-form-field>
      <input matInput (keyup)="applyFilterOneTimeCost($event)" placeholder="Filter">
    </mat-form-field>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    

    <div class="col-sm-1">
      <button mat-button (click)="openDialogAddSequence('Add')" class="btn redir-main-loc submit-btn" title="Toevoegen Sequence"
      *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','VVESequenceAdd','disabled')">
        <mat-icon>library_add</mat-icon>
      </button>
    </div>
    <div class="col-sm-1">
      <button mat-button (click)="openDialogAdd('Add')" class="btn redir-main-loc submit-btn" title="Toevoegen"
      *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','VVEAdd','disabled')">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <div class="col-sm-1" style ="margin-right: -6%;"></div>
  </div>

  <table mat-table #onetimecostSort="matSort" [dataSource]="dataSourceOneTimeCost" multiTemplateDataRows
    class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="hstorderid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%;">HST Billing ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.hstorderid}}</td>
    </ng-container>

    <ng-container matColumnDef="hstbillingsettingid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%;">HST ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.hstbillingsettingid}}</td>
    </ng-container>

    <ng-container matColumnDef="deliverydate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 9%;">Opleverdatum</th>
      <td mat-cell *matCellDef="let element"> {{ element.deliverydate_formated}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Aantal</th>
      <td mat-cell *matCellDef="let element"> {{ element.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Prijs</th>
      <td mat-cell *matCellDef="let element"> {{ element.price}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Bedrag</th>
      <td mat-cell *matCellDef="let element"> {{ element.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">Omschrijving</th>
      <td mat-cell *matCellDef="let element"> {{ element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="billingmonth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;">Bill maand</th>
      <td mat-cell *matCellDef="let element" > {{ element.billingmonth}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <button class="icon_btn" title="Wijzigen" mat-button (click)="openDialogEdit('Update',element)"
        *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','VVEEdit','disabled')">
          <mat-icon>edit</mat-icon>
        </button>

        <button class="icon_btn" title="Verwijderen" mat-button (click)="openDialog('Delete',element)"
        *ngIf="!_commonService.getfieldpropertyvalue(tabSectionList,'FacturatieTab','VVEDelete','disabled')">
          <mat-icon>delete</mat-icon>
        </button>

        <button title="Informatie" id="{{'info_icon'+element.id}}" mat-icon-button (click)="showExpand(element.id)">
          <mat-icon> info</mat-icon>
        </button>

        <button title="Informatie" style="display:none;" id="{{'arrow_icon'+element.id}}" mat-icon-button
          (click)="hideExpand(element.id)">
          <i class="fa fa-chevron-circle-up" style="font-size: 1.05rem;" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="overlayrow">
			<th mat-header-cell *matHeaderCellDef style="min-width: 0.1%;width: 0.1%;padding: 0px;"></th>
			<td *matCellDef="let element" id="{{'rowoverlay'+element.id}}" class="overlaytr" style="display: none;">
				<div class="progress-spinner-product">
					<div></div>
				</div>
			</td>
		</ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedonetimecostColumns.length">

        <div class="example-element-detail" *ngIf="element.secondlevel?.length" style="display:none;"
          id="{{'expand_id'+element.id}}">

          <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">

            <table class="shadow-sm p-3 mb-5 text-dark rounded shadow-css" style="padding-top:10px">
              <tr>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[0].name}} :</b></td><td class="ml-1 td-space" style="width: 18%;">
                  <span>{{element.secondlevel[0].value}}</span></td>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[1].name}} :</b></td><td class="ml-1 td-space" style="width: 18%;">
                  <span>{{element.secondlevel[1].value}}</span></td>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[2].name}} :</b></td><td class="ml-1 td-space">
                  <span>{{element.secondlevel[2].value}}</span></td>
              </tr>
              <tr>
                <td class="ml-1 td-space" ><b>{{element.secondlevel[3].name}} :</b></td><td class="ml-1 td-space">
                  <span>{{element.secondlevel[3].value}}</span></td>
                <td class="ml-1 td-space">&nbsp;</td>
                <td class="ml-1 td-space">&nbsp;</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedonetimecostColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedonetimecostColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginatorOneTimeCost [pageSizeOptions]="[10, 25, 30]" showFirstLastButtons></mat-paginator>

</mat-expansion-panel>

<mat-divider></mat-divider>

<mat-expansion-panel [expanded]="true" style="position: relative;">
  <div [ngClass]="loadinginvoiced ? 'overlay-product' : ''">
    <div *ngIf="loadinginvoiced" class="progress-spinner-product">
      <div></div>
    </div>
  </div>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-card-title>
        <mat-icon>apps</mat-icon>Gesloten kosten
      </mat-card-title>
    </mat-panel-title>

  </mat-expansion-panel-header>

  <div class="half-row">
    <mat-form-field>
      <input matInput (keyup)="applyFilterInvoiceOneTimeCost($event)" placeholder="Filter">
    </mat-form-field>

  </div>

  <table mat-table #invoiceonetimecostSort="matSort" [dataSource]="dataSourceInvoicedOneTimeCost" multiTemplateDataRows
    class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="hstorderid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;">HST Billing ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.hstorderid}}</td>
    </ng-container>

    <ng-container matColumnDef="hstbillingsettingid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;">HST ID</th>
      <td mat-cell *matCellDef="let element"> {{ element.hstbillingsettingid}}</td>
    </ng-container>


    <ng-container matColumnDef="deliverydate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 9%;">Opleverdatum</th>
      <td mat-cell *matCellDef="let element"> {{ element.deliverydate_formated}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Aantal</th>
      <td mat-cell *matCellDef="let element"> {{ element.quantity}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Prijs</th>
      <td mat-cell *matCellDef="let element"> {{ element.price}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef style="width: 4%;">Bedrag</th>
      <td mat-cell *matCellDef="let element"> {{ element.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">Omschrijving</th>
      <td mat-cell *matCellDef="let element" style="width: 30%;"> {{ element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="billingmonth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;">Bill maand</th>
      <td mat-cell *matCellDef="let element" > {{ element.billingmonth}}</td>
    </ng-container>

    <ng-container matColumnDef="billingdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 13%;">Bill datum</th>
      <td mat-cell *matCellDef="let element" > {{ element.billingdate}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <button title="Informatie" id="{{'info_icon'+element.id}}" mat-icon-button (click)="showExpand(element.id)">
          <mat-icon> info</mat-icon>
        </button>

        <button title="Informatie" style="display:none;" id="{{'arrow_icon'+element.id}}" mat-icon-button
          (click)="hideExpand(element.id)">
          <i class="fa fa-chevron-circle-up" style="font-size: 1.05rem;" aria-hidden="true"></i>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedinvoicedonetimecostColumns.length">

        <div class="example-element-detail" *ngIf="element.secondlevel?.length" style="display:none;"
          id="{{'expand_id'+element.id}}">

          <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">

            <table class="shadow-sm p-3 mb-5 text-dark rounded shadow-css" style="padding-top:10px">
              <tr>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[0].name}} :</b></td><td class="ml-1 td-space" style="width: 18%;">
                  <span>{{element.secondlevel[0].value}}</span></td>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[1].name}} :</b></td><td class="ml-1 td-space" style="width: 18%;">
                  <span>{{element.secondlevel[1].value}}</span></td>
                <td class="ml-1 td-space" style="width: 15%;"><b>{{element.secondlevel[2].name}} :</b></td><td class="ml-1 td-space">
                  <span>{{element.secondlevel[2].value}}</span></td>
              </tr>
              <tr>
                <td class="ml-1 td-space"><b>{{element.secondlevel[3].name}} :</b></td><td class="ml-1 td-space">
                  <span>{{element.secondlevel[3].value}}</span></td>
                  <td class="ml-1 td-space">&nbsp;</td>
                  <td class="ml-1 td-space">&nbsp;</td>
                </tr>
            </table>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedinvoicedonetimecostColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedinvoicedonetimecostColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginatorInvoiceOneTimeCost [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
</mat-expansion-panel>
<mat-divider></mat-divider>
